<footer>
  <div class="footer-parent">
    <div class="footer-separator"></div>
    <div class="footer-text">
      Copyright <b>©</b> 2023 by <b>Pratik Sahoo</b> |
      All images, icons, and resources featured on this website belong to
      their respective rightful owners.
    </div>
  </div>
</footer>

