<div class="container" id="intro">
  <div class="intro-text-container">
    <div class="intro-hi">
      <h2>Hello!</h2>
    </div>
    <div class="intro-main-text">
      I am <strong>Pratik Sahoo</strong>, a passionate gameplay and tools programmer. I
      love to play and make games.
    </div>
    <div class="resume-button-container">
      <a
        href="https://drive.google.com/file/d/1oRiJamnxwMi8ue05_iw7mz-2MUAGcLJo/view?usp=sharing"
        target="_blank"
        title="Resume"
      >
        <button class="resume-button">
          RESUME
        </button>
      </a>
    </div>
  </div>
  <div class="intro-image-container">
    <img
      src="/assets/images/avatar.png"
      alt="Pratik’s avatar"
      class="intro-image"
    />
  </div>
</div>

