@use 'variables' as *;

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 2rem 0;
}

footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  font-family: $font-body;
  font-size: 0.9rem;
  opacity: 0.6;
}

.footer-separator {
  width: 100px;
  height: 2px;
  background-color: currentColor;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.footer-build-number {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 3rem;
  font-family: $font-heading;
  opacity: .05;
  pointer-events: none;
}
