@use 'sass:color';
@use 'variables' as *;

.footer-parent {
  text-align: center;          // center text
  display: flex;
  justify-content: center;     // center any child elements
  margin-top: auto;
  padding: 2rem 0;
}

footer {
  scroll-snap-align: none;    /* explicitly opt-out */
  position: relative;         /* static at end */
  text-align: center;
  padding: 2rem 0;
}
