// src/assets/scss/_variables.scss

// Colors
$bg:       #1a1a1a !default;
$accent:   #39ff14 !default;
$text:     #eeeeee !default;

// Typography
$font-body:    'Source Code Pro', monospace !default;
$font-heading: 'Oswald', sans-serif !default;
$bg-light: #f9f9f9; // light background for contact section
    