{% set cfg = contact %}
<div class="contact-section">
  <h2>Contact Me</h2>

  <div class="contact-details">
    <p><b>Phone:</b> {{cfg.phone}}</p>
    <p><b>Home Address:</b> {{cfg.home_address}}</p>
    <p><b>Current Address:</b> {{cfg.current_address}}</p>
    <p><b>Email:</b> <a href="mailto:{{cfg.email}}">{{cfg.email}}</a></p>
    <p><b>LinkedIn:</b> <a href="{{cfg.linkedin}}" target="_blank">{{cfg.linkedin}}</a></p>
    <p><b>GitHub:</b> <a href="{{cfg.github}}" target="_blank">{{cfg.github}}</a></p>
  </div>
</div>
