<div class="experience-section">
  <div class="experience-trigger thick-stroke" id="exp-trigger">
    <i class="ri-folder-user-line"></i>
    <span>PLAYER STATS / EXPERIENCE</span>
  </div>

  <div class="experience-drawer thick-stroke" id="exp-drawer">
    <div class="drawer-header">
      <h3>EXPERIENCE</h3>
      <button id="exp-close">X</button>
    </div>
    
    <div class="experience-list">
      {% for item in experience.items %}
        <div class="experience-item">
          <div class="exp-role">
            <h4>{{ item.designation }}</h4>
            <span class="exp-company">{{ item.company }}</span>
          </div>
          <div class="exp-meta">
            <span class="exp-date">{{ item.start }} - {{ item.end }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
