<div class="intro-wrapper">
  <div class="intro-text">
    <h1>Hello!</h1>
    <p>I am <strong>{{ intro.name }}</strong>, a passionate gameplay and tools programmer.</p>
    <a href="{{ intro.resumeUrl }}" class="btn-resume">Resume</a>
  </div>
  <div class="intro-image">
    <img src="{{ intro.avatar }}" alt="{{ intro.name }} avatar" />
  </div>
</div>
