<div class="intro-wrapper">
  <div class="intro-text">
    <h1>Hello!</h1>
    <p>I am <font size="7"><b>{{ intro.name }}</b></font>
    <br>Architect of code and chaos. Building worlds one engine tick at a time.</p>
    <a href="{{ intro.resumeUrl }}" class="btn-resume">Resume</a>
  </div>
  <div class="intro-image">
    <img src="{{ intro.avatar }}" alt="{{ intro.name }} avatar" />
  </div>
</div>
