<div class="intro-wrapper">
  <div class="intro-text">
    <span class="greeting">HELLO!</span>
    <h1>I AM {{ intro.name }} <i class="ri-ghost-line sticker-icon"></i></h1>
    <p class="tagline">Architect of code and chaos. Building worlds one engine tick at a time.</p>
  </div>
  <div class="intro-image polaroid">
    <img src="{{ intro.avatar }}" alt="{{ intro.name }} avatar" />
  </div>
</div>
