# Node dependencies
/node_modules/

# Eleventy output
_site/

# Sass cache (if any)
.sass-cache/

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

