:root{
    --primary-color: #1a1a1d;
    --primary-color-dark: #0a0a0d;
    --primary-color-hover: #242428;
    --secondary-color: #c3073f;
    --secondary-dark-color: #6f2232;
    --primary-text-color: #E2DCC4;
    --secondary-text-color: #4e4e50;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    scroll-snap-type: y mandatory;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.highlight-link
{
    font-size: 1.25rem;
    color: var(--secondary-color);
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    transition: all .2s ease-in-out;
}
.highlight-link:hover
{
    box-shadow: inset 30rem 0 0 0 var(--secondary-dark-color);
    font-weight:  500;
    color: var(--primary-text-color);
}
.container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    padding: 10rem;
}
.container-name
{
    height: auto;
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: 700;
    text-decoration: underline;
    margin-top: -7.5rem;
    align-self: center;
}

#intro
{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
    color: var(--primary-text-color);
}
.intro-text-container
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

strong
{
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.intro-hi
{
    align-self: flex-start;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.intro-main-text
{
    color: var(--primary-text-color);
    margin-bottom: 1rem;
}

.intro-image-container
{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.intro-image
{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
}

.resume-button-container
{
    margin-top: 5rem;
    margin-left: .5rem;
    z-index: 2;
    pointer-events: all;
}

.resume-button
{
    width: 10rem;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    border: none;
    font-weight: 900;
    font-size: x-large;
    -webkit-text-stroke: .07rem var(--primary-color-dark);
    color: var(--primary-text-color);
    transition: all 0.15s ease-in-out;   
}

.resume-button:hover
{
    transform: scale(105%);
    cursor:  pointer;
}

.background-text
{
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: var(--primary-text-color);
    font-weight: 500;
    margin-right: -5rem;
    margin-top: 5rem;
}

#projects
{
    background-color: var(--primary-color);
}

.project-card-row
{
    display: flex;  
}
.project-card-row a
{
    text-decoration: none;
    color: inherit;
}

.project-card
{
    width: 30rem;
    height: 40rem;
    flex: 0 0 auto;
    margin: 2rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.project-card-image-container
{
    width: 100%;
    height: 55%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: .9rem;
}

.project-card-image-container .project-card-image
{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.project-card-image-container:hover .project-card-image
{
    transform: scale(110%)
}

.project-name-container
{
    width: 30rem;
    height: 7.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name-bg{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-dark);
    filter: opacity(55%);
    border-radius: 0rem 0rem .9rem .9rem;
}

.project-name{
    position: absolute;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
}

.project-card-image-container .close{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.project-card:hover .close
{
    transform: scale(110%); 
}

.project-card-description-container
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.project-technology ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-technology li
{
    margin-right: 1rem;
    padding: .5rem 1rem;
    font-size: medium;
    font-weight:700;
    color: var(--secondary-color);
    background-color: var(--primary-color-dark);
    border-radius: 1rem 1rem 1rem 1rem;
}


.project-card-description
{
    padding: 1rem;
    color: var(--primary-text-color);
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 1rem;
}

.project-card-description ul
{
    list-style: inside;
}

#contact
{
    background-color: var(--primary-color);
    justify-content: center;
}

.contact-contents
{
    z-index: 1;
}

.contact-mail
{
    color: var(--primary-text-color);
    margin-top: 1.5rem;
    margin-left: 5rem;
    font-size: 1.25rem;
}

.social-media-icons
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.social-icon
{
    margin: 5rem 5rem;
    transition: all 0.2s ease-in-out;
}

.social-icon:hover
{
    transform: scale(110%) translateY(-.5rem);
}

.popup
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 10rem;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.popup:target
{
    visibility: visible;
    opacity: 1;
}

.popup-container{
    width: 75%;
    height: 100%;
    margin-left: 15rem;
    background-color: var(--primary-color);
    z-index: 3;
    overflow-y: auto;
    flex-direction: column;
    border-radius: .5rem;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.popup-entry{
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.popup-entry .entry-image-container
{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem;
}

.popup-entry .entry-image
{
    border: 2.5px solid var(--secondary-color);
    margin: 0rem 1rem;
}

.popup-entry .entry-video
{
    width: 48rem;
    border: 2.5px solid var(--secondary-color);
    align-self: center;
    margin: 2.5rem 0rem;
}

.popup-entry .detail
{
    width: 100%;
    height: 45%;
    font-size: x-large;
    color: var(--primary-text-color);
    font-weight: 500;
}


.popup-container .close {
    position: absolute;
    margin-left: 60%;
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-text-color);
}

.popup-container .close:hover {
    transform: scale(1.35);
    color: var(--secondary-color);
}


.footer-parent
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-separator{
    width: 110%;
    height: .05rem;
    background-color: var(--secondary-color);
}

.footer-text
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-top: .5rem;
}

/* Small Screens */
@media only screen and (max-width: 600px)
{
    .navbar
    {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-container
    {
        flex-direction: row;
        justify-content: center;
    }

    .nav-link
    {
        justify-content: center;
    }
}


/* Large Screens */
@media only screen and (min-width: 600px)
{
    .navbar
    {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover
    {
        width: 12rem;
    }

    .navbar:hover .link-text
    {
        display: inline;
        transition: opacity 200ms, display 200ms;
    }
}