<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gaegu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://api.fontshare.com/v2/css?f[]=panchang@200,500,700,800,300,400,600&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="/assets/js/main.js" defer></script>
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="author" content="{{ metadata.author }}" />
    
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}" />
    <meta property="og:title" content="{{ metadata.title }}" />
    <meta property="og:description" content="{{ metadata.description }}" />
    <meta property="og:image" content="{{ metadata.url }}{{ metadata.socialImage }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{ metadata.url }}" />
    <meta name="twitter:title" content="{{ metadata.title }}" />
    <meta name="twitter:description" content="{{ metadata.description }}" />
    <meta name="twitter:image" content="{{ metadata.url }}{{ metadata.socialImage }}" />
    <meta name="twitter:site" content="{{ metadata.twitterHandle }}" />

    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="/assets/images/favicon.svg"
    />
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <div id="fullscreen-overlay" class="fullscreen-overlay">
      <img id="fullscreen-img" src="" alt="Fullscreen view" />
    </div>
    <script>
      window.projectIds = [
        {% for proj in projects.items %}
          "{{ proj.id }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ];
    </script>
  </body>
</html>

