---
layout: base.njk
---

<section id="intro" class="container intro">
  {% include "components/intro.njk" %}
</section>

<section id="experience" class="container">
  {% include "components/experience.njk" %}
</section>

<section id="projects" class="container">
  {% include "components/projects.njk" %}
</section>

<section id="contact" class="container">
  {% include "components/contact.njk" %}
</section>