---
layout: base.njk
---

<section id="intro" class="intro">
  <div class="container">
    {% include "components/intro.njk" %}
  </div>
</section>

<section id="experience">
  <div class="container">
    {% include "components/experience.njk" %}
  </div>
</section>

<section id="projects">
  <div class="container">
    {% include "components/projects.njk" %}
  </div>
</section>

<section id="contact">
  <div class="container">
    {% include "components/contact.njk" %}
  </div>
</section>
